@import url('https://fonts.cdnfonts.com/css/switzer');
@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Geist Sans';
  src: url('/fonts/geist.woff2') format('woff2');
  font-style: normal;
  font-weight: 100 900;
}

:root {
  font-family: 'Switzer', sans-serif;
}

/* Styling for text selection */
::selection {
  background-color: rgba(0, 0, 0, 0.1);
}

::-moz-selection {
  background-color: rgba(0, 0, 0, 0.1);
}

/* Webkit browsers (Chrome, Safari, etc.) - Hide scrollbar */
::-webkit-scrollbar {
  display: none;
}

/* Firefox - Hide scrollbar */
* {
  scrollbar-width: none;
}

.box{
    position: absolute;
    top: 0;
    z-index: 9999;
    text-align: center;
    width: 150px;
    left: 50%;
    margin-left: -75px; /* half of the width */
    background-color:red;
}